
<main>
<section class="register">
    <div class="panel panel-left">

    </div>
    <div class="panel panel-right">

      <h2>Register</h2>
      <form class="register-form" [formGroup]="registerFormGroup" (ngSubmit)="registerHandler()" >
        <input formControlName="email" type="text" name="email" placeholder="Email">


      <ng-container *ngIf="registerFormGroup.get('email')?.touched && registerFormGroup.get('email')?.invalid">
        <p class="error" *ngIf="registerFormGroup.get('email')?.errors?.['required']" class="error">Email is necessary!
        </p>
        <p class="error" *ngIf="registerFormGroup.get('email')?.errors?.['pattern']" class="error">Invalid email!</p>
      </ng-container>

      <input formControlName="password" type="password" name="password" placeholder="Password">


      <ng-container *ngIf="registerFormGroup.get('password')?.touched  && registerFormGroup.get('password')?.invalid">
        <p class="error">Password must be minimum 6 characters!</p>
      </ng-container>

      <input formControlName="repass" type="password" name="repass" placeholder="Repeat Password">


      <ng-container *ngIf="registerFormGroup.get('repass')?.touched  && registerFormGroup.get('repass')?.invalid">
        <p class="error">Password is not same!</p>
      </ng-container>
      <p *ngIf="errors" class="server-error">{{errors}}</p>

        <button type="submit">Register</button>
        <p class="message">
            Already have an account ?  <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
  </section>

</main>