<ng-container *ngIf="projects">
    <h2 class="my-games-page-heading">My Projects</h2>
    <section  class="my-games-section">
        <div class="my-game-card" *ngFor="let project of projects">
            <div class="img-wrapper">
                <img src={{project.imageUrl1}} class="game-card-img">
            </div>
            <p class="my-game-card-name">{{project.projectName}}</p>
            <span class="my-game-card-price">{{project.contractor}}</span>
            <a [routerLink]="['project._id']" class="my-game-card-details-link">Details</a>
        </div>
    </section>    
    </ng-container>
    
    <div *ngIf="projects && projects.length == 0">
        <p class="not-found-paragraph">No games created! Let's create some <a routerLink="/games/add">Add game</a></p>
    </div>