main {
  border-block: 2px solid #9db52a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(rgba(245, 245, 245, 0.871),#4d565a ) 
}
.searchbar-form {
  margin-block: 50px;
  display: flex;
  justify-content: center;
}

.searchbar-form input {
  background-color: rgba(245, 245, 245, 0.871);
  font-size: 22px;
  width: 20%;
  border: 2px solid #4d565a;
  border-radius: 30px;
  padding: 20px;
}

.searchbar-form button {
  border: none;
  background-color: unset;
  font-size: 32px;
  color: rgba(245, 245, 245, 0.871);
  cursor: pointer;
}

.searchbar-form button:hover {
  color: lightgray;
}

.searchbar-form input:hover {
  background-color: lightgray;
  color: black;
}

.project-section {
  margin-inline: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-card {
  width: 500px;
  background-color: rgba(245, 245, 245, 0.871);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
  transition:all 300ms;
}

.project-card:hover {
  box-shadow: 8px 8px 2px 1px #9db52a;
  transform: translate(-20px, -40px)  scale(1.2);
}

.project-card .img-wrapper img {
  height: 350px;
  width: 100%;
}

.content {
  margin: 10px;
  height: auto;
  border-radius:20px;
  border: 1px dotted #9db52a;

}
.project-card .project-card-name {
  text-align: center;
  font-size: 27px;
  margin: 2rem 0;
}

.project-card .project-card-contractor {
  display: block;
  text-align: center;
  font-size: 28px;
  height: 40px;
}

.project-card .project-card-details-link {
  text-decoration: none;
  text-align: center;
  margin: 2rem auto 1rem;
  display: block;
  width: 80%;
  font-size: 28px;
  padding: 10px;
  background-color: #9db52a;
  color: white;
  border: none;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

.not-found-paragraph {
  color: white;
  text-align: center;
  font-size: 40px;
  position: relative;
  left: -26px;
}


