
  @import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;

  }
  
  
  header {
    font-family: 'Barlow', sans-serif;
    color: rgba(245, 245, 245, 0.871);
    background-color: #4d565a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    flex-direction: row;
    font-size: 26px;
    font-weight: 400;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
  }
  
  nav .header__nav, nav .header__auth {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  
  header .logo_img{
    height: 4rem;
  }
  
  .logo{
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 0px 0px #9db52a;
  }
  
  
  .logo_link{
    color: rgba(245, 245, 245, 0.871);
    font-size: 2rem;
  }
  
  
  nav .header__nav-link {
    text-decoration: none;
    color:rgba(245, 245, 245, 0.871);
    font-weight: 400;
  }
  
  header .logo_link {
    padding: 0 10px;
    text-decoration: none;
  
  
  }
  
  nav .header__nav-link:hover, nav .header__nav-link:focus {
    text-decoration: underline;
    background-color: #9db52a;
    padding: .75rem 2rem;
  
  
  }