
<header>
    <div class="logo">
     <img class="logo_img" src="../../../assets/image/favicon.jpg" alt="">
     <a class="logo_link" routerLink="home">Bulgaria Infrastructure</a>
  </div>
    <nav>
      <ul class="header__nav">
        <li class="header__nav-item">
          <a class="header__nav-link" role="button" routerLink="home">Home</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" role="button" routerLink="projects">Projects</a>
        </li>
        <ng-container *ngIf="isLogged"> 
          <li class="header__nav-item">
            <a class="header__nav-link" role="button" routerLink="add-project">Add Project</a>
          </li>
        </ng-container>
        <li class="header__nav-item">
          <a class="header__nav-link" role="button" routerLink="leaders">Leaders</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" role="button" routerLink="news">News</a>
        </li>

        
      </ul>

      <ul class="header__auth">
        <ng-container *ngIf="isLogged"> 
          <li class="header__nav-item"><a  class="header__nav-link" routerLink="profile">Profile</a></li>
          <li class="header__nav-item"><a  class="header__nav-link" (click)="logoutHandler()">Logout</a></li>
        </ng-container>
        <ng-container *ngIf="!isLogged"> 
          <li class="header__nav-item"><a class="header__nav-link" routerLink="login">Login</a></li>
          <li class="header__nav-item"><a  class="header__nav-link" routerLink="register">Register</a></li>
      </ng-container>
      </ul>

    </nav>
  </header>