
<main>
    <section class="main-details" *ngIf="project">

    <h1 class="title">{{project.projectName}}</h1>
    
    <div [@ComeFromLeft] class="details-img">
        <img src={{project.imageUrl1}} class="project-card-img">
        <img src={{project.imageUrl2}} class="project-card-img">
        <img src={{project.imageUrl3}} class="project-card-img">
    </div>


    <div class="details-info">
        <p class="p-info">Contractor</p>
        <p class="span-info">{{project.contractor}}</p> 
        <p class="p-info">Release year </p>
        <p class="span-info">{{project.release}}</p>
        <p class="p-info">Location</p> 
       <p class="span-info">{{project.location}}</p>
        <p class="p-info">More About</p>
         <p class="span-info">{{project.description}}</p>
      <p class="p-info">Likes:  <span class="span-info">{{likesCount}}</span></p>

      
      
        <ng-container *ngIf="!isOwner">
          <section *ngIf="isLoggedIn" >
                <div class="like-functionality">
                        <ng-container *ngIf="canLike">
                            <button class="edit-delete-btn-like" (click)="likeProject()"><i class="fa-solid fa-heart"></i></button>
                        </ng-container>

                        <ng-container *ngIf="!canLike">
                            <button disabled [class.canLike]="!canLike" class="edit-delete-btn"
                                (click)="likeProject()">Already liked</button>
                        </ng-container>
                </div>
            </section>
        
            <div *ngIf="!isLoggedIn">
                <button class="edit-delete-btn-like" routerLink="/login"><i class="fa-solid fa-heart"></i></button>
            </div>

        </ng-container> 

        <ng-container *ngIf="isOwner">
            <div class="edit-delete">
                <button class="edit-delete-btn" [routerLink]="['/edit', project._id]">Edit</button>
                <button class="edit-delete-btn" (click)="deleteProject()">Delete</button>
            </div>
        </ng-container>
    </div>
</section>

<section *ngIf="!project">
    Loading...
</section>
</main>