<main>
    <section class="project-section">
        <article class="project-card" *ngFor="let leader of leaders">
            <div class="img-wrapper">
                <img src={{leader?.logo}} class="project-card-img">
            </div>
            <div class="content">
                <p class="project-card-name">{{leader?.companyInfo}}</p>
                <span class="project-card-contractor"><strong>{{leader?.username}}</strong></span>
            </div>
        </article>
    </section>
</main>
