<main>
     <h1 class="title">{{username}}</h1>
    <section [@ComeFromLeft] class="profile">
        <div class="first">
            <img class="logo" src="{{logo}}" alt="">
            <div class="content">
                <p class="desc"><i class="fa-solid fa-envelope"></i> Email: {{email}}</p>
                <p class="desc"><i class="fa-solid fa-user"></i> UserId: {{userId}}</p>
            </div>

        </div>
        <div class="second"> 
            <h2 class="info">Company Information</h2>
            <p class="info"> {{companyInfo}}</p>
            <button class="add-info-btn" (click)="addCompanyInfo()" [style.display]="isBtnHidden ? 'none' : 'block'">Add company information</button>
        </div>
    </section>
    <section [@ComeFromLeft] class="projects">
        <ng-container *ngIf="projects && projects.length !== 0">
            <section class="my-project">
                <h2 class="title small">MY PROJECTS</h2>
                <div class="my-project-card" *ngFor="let project of projects">
                    <div class="card"> 
                    <img src={{project.imageUrl1}} class="project-card-img">
            
                    <div class="text">
                        <span class="my-project-card-name name">Location</span>
                        <p class="my-project-card-name">{{project.location}}</p>
                        <span class="my-project-card-name name">Name</span>
                        <p class="my-project-card-name">{{project.projectName}}</p>
                        <button> <a [routerLink]="['/projects/details', project._id]" class="my-project-card-details-link">EDIT</a></button>
                    </div>
                </div>

                </div>
            </section>
        </ng-container>

        <div [@ComeFromLeft] *ngIf="projects && projects.length == 0">
            <p class="title">ADD YOUR PROJECTS <a class="add_project" [routerLink]="['/projects/add-project']">HERE</a></p>
        </div>
    </section>
</main>