
<main [@fadeInOutAnimation]>
    <section id="first" class="section">

        <div class="contain">
            <h1 class="title">
                BULGARIA NEW PROJECTS
            </h1>

            <ul class="options">
                <li class="opitons__list">
                    <span class="bullet"><i class="fa-solid fa-check" style="color: #9db52a;"></i></span> Western
                    Railway
                </li>
                <li class="opitons__list">
                    <span class="bullet"><i class="fa-solid fa-check" style="color: #9db52a;"></i></span> Construction
                    of natural gas pipelines between (Serbia-Bulgaria)
                </li>
                <li class="opitons__list">
                    <span class="bullet"><i class="fa-solid fa-check" style="color: #9db52a;"></i></span> The logistics
                    center of the Orbico Group in Bulgaria
                </li>
                <li class="opitons__list">
                    <span class="bullet"><i class="fa-solid fa-check" style="color: #9db52a;"></i></span> Production of
                    fuel from waste,Improvement of the Plovdiv-Burgas railway line
                </li>
                <li class="opitons__list">
                    <span class="bullet"><i class="fa-solid fa-check" style="color: #9db52a;"></i></span> A new
                    expansion of the Sofia metro system
                </li>
            </ul>
        </div>
        <div class="youtube">
            <iframe width="900" height="500" src="https://www.youtube.com/embed/NU9D0Tn3gXU" frameboard="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
        </div>
    </section>

    <section id="second" class="section">

        <div class="left">
            <img class="img_wrapper"
                src="https://www.economic.bg/web/files/articles/135829/narrow_image/thumb_1040x585_5.jpg" alt="">

            <img class="img_wrapper"
                src="https://www.bgonair.bg/media/files/resized/article/640x/4a6/55552332007c44a6-43bac1704f23b1f2.jpeg"
                alt="">
        </div>
        <div class="right">
            <h3 class="title">
                The EC approved Bulgaria's European infrastructure program
            </h3>
            <p class="desc">
                The European Commission has given the green light to an operational program "Transport connectivity"
                2021-2027, the budget of which is 1.61 billion euros. Thus, in the new program period, Bulgaria will be
                able
                to finance and implement large-scale infrastructure projects - railway lines, highways, bridges,
                tunnels,
                waterways and roads, etc.</p>

            <p class="desc">Also included are projects for the construction of infrastructure for alternative fuels
                (charging
                stations) along the main sections of the country's road network.</p>

            <p class="desc">The new operational program aims to develop and expand inland waterways and seaports for
                public transport
                to carry out multimodal operations. This includes projects for the development and expansion of the port
                of Lom with the aim of turning it into an intermodal terminal. A project for the expansion of the port
                of Varna (new quay) is included, which will once again serve to carry out multimodal operations.</p>

            <p class="desc">The reconstruction of ports is also planned. For example, an anti-flooding facility will be
                built at the
                Ruse-Zapad terminal. And more - the delivery of additional multi-functional vessels is planned, through
                which navigation on the Danube River will be improved. The total estimated budget for these projects is
                over 403.3 million euros, with the national co-financing amounting to just over 60.4 million euros.</p>
            <p class="desc">The construction of railway connections to Plovdiv airport and to Burgas airport is also
                planned, thus
                aiming to promote intermodality in an urban environment . The budget for these projects is in the amount
                of just over 47 million euros, with national co-financing in the amount of just over 7 million euros.
            </p>

        </div>
        <div class="center">
            <div class="above">
                <p class="desc"> The cities that are eligible for participation under the "Green Mobility" project are
                    also indicated.
                    Its aim is to promote sustainable urban mobility through the development of ecological, safe,
                    functional
                    and energy-efficient transport. To improve the state of public urban transport and promote "green
                    mobility", 40 Bulgarian municipalities will be able to apply for funds from the National Plan for
                    Individual objects are marked with pictograms or lines, and different colors indicate the road and
                    railway projects that will be implemented with the respective deadlines in the period until 2040.
                </p>
                <img class="above_img"
                    src="https://globaldesigningcities.org/wp-content/uploads/2016/11/2_Green-Infrastructure.jpg"
                    alt="">
            </div>
            <img class="center__img" src="../../../../assets/Screenshot_2.jpg" alt="">
        </div>
    </section>
</main>

<section id="third" class="section">

    <h2 class="title">Sustainable infrastructure</h2>
       
    <div class="green">
        <div class="text">
            <p class="desc"><strong>What are the possibilities and obstacles for its implementation?</strong></p>
            <p class="desc">More than 60% of the world's greenhouse emissions originate from infrastructure – the transport and
                energy
                systems, buildings and industry. At the same time, we feel a growing need for it to be expanded.
                However, if
                the new infrastructure is not low-emission and climate-friendly, the Paris Agreement 's targets of
                increasing the average temperature by less than 2ºC by 2050 will not be met. It must include renewable
                energy, mass transport and energy efficiency.</p>
            <p class="desc">About 70% of sustainable infrastructure is needed in developing countries, where its realization is most
                tangible. The poorest and most socially vulnerable societies are most acutely affected by climate change
                because they are much more dependent on it. It also has a direct link to development – ​​the
                construction of
                renewable energy plants instead of thermal power plants using solid fuel would reduce air pollution and
                improve the quality of the environment, thereby improving overall health. If we build our cities more
                compactly, with improved access to public transport, they would also contribute to these higher
                indicators.
            </p>

        </div>
        <img class="last" src="../../../../assets/envir.png" alt="">
    </div>



</section>