
@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');



main {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:  #4d565a;
    flex-direction: column;
    background-color:  rgba(245, 245, 245, 0.871);
}

#first {
    display: flex;
    padding-inline: 50px;
    padding-block: 30px;
    justify-content: space-between;
    gap: 40px; 
     height: auto;
}

.contain, .youtube {
    flex-basis: 50%;
}
#first .title {
    letter-spacing: 3px;
    font-size: 52px;
    text-shadow: 1px 1px 1px #9db52a;
    font-family: 'Barlow', sans-serif;
}

#first .options {
    list-style: none;
    padding: 0;
}

#first .bullet {
    padding: 10px;
    font-size: 40px;
}

#first .opitons__list {
    font-size: 26px;
font-family: Georgia, 'Times New Roman', Times, serif;}

#second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 50px;
    padding-block: 30px;
}
.left, .right {
    flex-basis: 50%;
}


#second .right{
    text-align: center;
    background: linear-gradient(90deg, rgba(245, 245, 245, 0.871), #9db52a 90%);
    
}
.desc {
    padding: 10px;
    font-size: 24px;
}
#second .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#second .img_wrapper {
    
    border-radius: 100%;
    height: 400px;
    width: 700px;
    border: 2px solid #9db52a;
    
}

#second .title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

#second .center{
    padding-block: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
gap: 20px;
}

.center__img{
    width: 50%;
}
.center__img:hover, .above_img:hover{
    border: 1px solid #9db52a;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.above {
   display: flex;
   flex-direction: column;
}
.above_img{
    width: 100%;
}

.left, .right {
    flex-basis: 50%;
}
#third{
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    padding-block: 30px;
    background:linear-gradient(180deg,rgba(245, 245, 245, 0.871), #9db52a );
}
#third .title{
    text-align: center;
    letter-spacing: 5px;
    font-size: 50px;
    color:#4d565a;
    text-shadow: 2px 2px 2px white;
}


#third .green{
    display: flex;
    flex-direction: row;
}
#third .text{
    color: #4d565a; 
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-basis: 50%;
    border-bottom:2px solid rgba(245, 245, 245, 0.871);
     border-left: 2px solid rgba(245, 245, 245, 0.871);
    }

#third .last{
    height: 70vh;
}

