
@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;

}
footer {
    background-color: #4d565a;
    font-size: 1.2rem;
    color: rgba(245, 245, 245, 0.871);
}

li{
    list-style: none;
    padding-block: 0.2rem;
    
}
ul{
    padding: 0px;
}

li:hover, .hover:hover {
    color: #9db52a;
    cursor: pointer;
}

.ft-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
  }

.ft-main-item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
  .socials {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }
  
.socials li {
  font-size: 1.5rem;
}

.footer-last{
    padding-block: 1rem;
    background-color: gray;
    text-align: center;
  }