<footer>
    <!-- Footer main -->
    <section class="ft-main">
        <div class="ft-main-item">
            <h2 class="title">Quick Links</h2>
            <ul role="list">
                <li>Home</li>
                <li>About Us</li>
                <li>FAQs</li>
                <li>Services</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="title">Services</h2>
            <ul role="list">
                <li>Contact us</li>
                <li>Write us</li>
                <li>Call us</li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h2 class="title">Address</h2>
            <p>Sofia, Bulgaria</p>
            <p class="hover">info@bgInfra.com</p>
            <p class="hover">(01) 800 854 633</p>
        </div>
        <div class="ft-main-item">
            <h2 class="title">Follow Us</h2>
            <ul class="socials">
                <li class="icons"><i class="fa-brands fa-facebook-f"></i></li>
                <li class="icons"><i class="fa-brands fa-twitter"></i></li>
                <li class="icons"><i class="fa-brands fa-square-instagram"></i></li>
            </ul>
        </div>
    </section>
    <section class="footer-last">Copyright © 2023 Bulgaria Infrastructure. All Rights Reserved.
   </section>
</footer>
